{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="{% url 'listar_produtos' %}" class="active">Lista de Produtos</a></li>
        </ul>
    </nav>
    
    <form action="{% url 'listar_produtos' %}" method="get">
        <button type="submit">Ir para a Lista de Produtos</button>
    </form>

    

    <h1 style="text-align: center;">Cadastro de Produtos</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="nome">Nome do Produto</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome do produto" required>

        <label for="tipo">Tipo</label>
        <select id="tipo" name="tipo" required>
            <option value="">Selecione o tipo</option>
            <option value="Alimento">Alimento</option>
            <option value="Bebida">Bebida</option>
            <option value="Utensílio">Utensílio</option>
            <option value="Outro">Outro</option>
        </select>

        <label for="descricao">Descrição</label>
        <textarea id="descricao" name="descricao" rows="4" placeholder="Descreva o produto" required></textarea>

        <button type="submit">Cadastrar Produto</button>
    </form>
</body>
</html>
